In [11]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy import (
    Boolean,
    DateTime,
    Column,
    Integer,
    String,
    Float,
    Time,
)

In [5]:
db_conn = pg.connect("postgresql://wheretolive:wheretolive@localhost:5432/wheretolive")

In [6]:
sql = """
            select
                sbb_connection.from_stop_id,
                sbb_connection.from_stop_parent_id,
                sbb_connection.to_stop_id,
                sbb_connection.to_stop_parent_id,
                sbb_connection.departure_time,
                sbb_connection.arrival_time
            from sbb_connection
            join sbb_trip on sbb_trip.trip_id = sbb_connection.trip_id
            join sbb_calendar on sbb_calendar.service_id = sbb_trip.service_id
            where
                not sbb_connection.departs_next_day and
                sbb_calendar.monday and
                sbb_connection.arrival_time <= '12:00:00' and
                sbb_connection.departure_time >= '06:00:00'
            order by sbb_connection.departure_time, sbb_connection.trip_id
        """

In [7]:
df = pd.read_sql(sql, db_conn)
df.head()

,from_stop_id,from_stop_parent_id,to_stop_id,to_stop_parent_id,departure_time,arrival_time
0,8592078,None,8592119,None,06:00:00,06:02:00
1,8594182,None,8503855:0:C,8503855P,06:00:00,06:02:00
2,8591230,None,8591397,None,06:00:00,06:01:00
3,8504014:0:1,8504014P,8501120:0:5,8501120P,06:00:00,06:16:00
4,8593998:0:D,None,8588746,None,06:00:00,06:01:00

In [7]:
sql = """
select 
	commute.source_town_id,
	commute.target_town_id,
	commute.distance,
	commute.closest_station_time,
	commute.closest_station_changes,
	commute.closest_train_station_time,
	commute.closest_train_station_changes,
	s_sbb_station.id as source_station_id,
	s_sbb_station.parent_station as source_station_parent_id,
	s_t_sbb_station.id as source_train_station_id,
	s_t_sbb_station.parent_station as source_train_station_parent_id,
	t_sbb_station.id as target_station_id,
	t_sbb_station.parent_station as target_station_parent_id,
	t_t_sbb_station.id as target_train_station_id,
	t_t_sbb_station.parent_station as target_train_station_parent_id
from commute 
join town as s_town on s_town.id = source_town_id
join town as t_town on t_town.id = target_town_id
join sbb_station as s_sbb_station on s_sbb_station.id = s_town.closest_station_id
join sbb_station as s_t_sbb_station on s_t_sbb_station.id = s_town.closest_train_station_id
join sbb_station as t_sbb_station on t_sbb_station.id = t_town.closest_station_id
join sbb_station as t_t_sbb_station on t_t_sbb_station.id = t_town.closest_train_station_id
        """

In [8]:
cursor = db_conn.cursor()
cursor.execute(sql)
for c in cursor:
    print(c)
    break

(1327, 1328, 14.275757638551099, None, None, None, None, '8504873', None, '8504027P', None, '8594993', None, '8504084P', None)

In [25]:
__engine = create_engine("postgresql://wheretolive:wheretolive@localhost:5432/wheretolive", convert_unicode=True)
session_factory = sessionmaker(bind=__engine)
base = declarative_base()

class Commute(base):
    __tablename__ = "commute"
    source_town_id = Column(Integer, primary_key=True)
    target_town_id = Column(Integer, primary_key=True)
    distance = Column(Float)
    closest_station_time = Column(Float)
    closest_station_changes = Column(Integer)
    closest_train_station_time = Column(Float)
    closest_train_station_changes = Column(Integer)

session = scoped_session(session_factory)

In [26]:
commute_data = {"closest_station_time": 2.0}
commute_key = {"source_town_id": 1, "target_town_id": 2}
session.query(Commute).update(commute_data, synchronize_session=False).where(commute_key)
session.commit()

AttributeError: 'int' object has no attribute 'where'

In [21]:
commute = Commute(source_town_id=1, target_town_id=2, closest_station_time=1.0)
# session.add(commute)
# session.flush()
session.merge(commute, load=True)
commute = Commute(source_town_id=1, target_town_id=3, closest_station_time=1.0)
session.merge(commute, load=True)
session.commit()

AttributeError: 'scoped_session' object has no attribute 'update'

In [10]:
%%timeit
counter = 0
for c in df.to_dict('records'):
    counter += 1
print(counter)

1670741
1670741
1670741
1670741
1670741
1670741
1670741
1670741
7.73 s ± 299 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
%%timeit
counter = 0
for c in df.values:
    counter += 1
print(counter)

1670741
1670741
1670741
1670741
1670741
1670741
1670741
1670741
205 ms ± 5.12 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [1]:
a = [x for x in range(16000000)]

In [2]:
%%timeit
counter = 0
for x in a:
    counter += 1
print(counter)

16000000
16000000
16000000
16000000
16000000
16000000
16000000
16000000
448 ms ± 4.16 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)