In [ ]:
import pandas as pd
import psycopg2 as pg
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def add_thousands_sep(total_amount_str):
    splits = total_amount_str.split('.')
    if len(splits) < 2:
        main = total_amount_str
    else:
        main, decimal = splits
    if len(main)>3:
        main_reversed = main[::-1]
        idx = 3
        while idx < len(main):
            main_reversed = main_reversed[:idx] + '\'' + main_reversed[idx:]
            idx += 4
        main = main_reversed[::-1]
        if len(splits) < 2:
            return main
        else:
            return main + '.' + decimal

In [ ]:
db_conn = pg.connect("postgresql://wheretolive:wheretolive@192.168.86.145:5432/wheretolive")

In [ ]:
target_zip_code = 8001
station_type = 'closest_train' # or closest_train

if station_type == 'closest_station':
    station_field_name = 'closest_station'
else:
    station_field_name = 'closest_train_station'

max_commute_h = 0.4

people_ages_franchises = [(1992, 2500), (1993, 2500), (2018, 0), (2020, 0)]

children = 2
married = True
double_salary = True
income = 125000

mortgage_rate = 0.01
loan_percentage = 0.8
rooms_min = 4.5
rooms_max = 5.5

profile_desc = f"Workplace ZIP: {target_zip_code}, "
profile_desc += f"Maximum Commute: {int(max_commute_h)}:{int((max_commute_h-int(max_commute_h))*60)}h\n"
profile_desc += f"{'Married' if married else 'Single'}, {children} Children, {'Double Earner, ' if double_salary else ''}CHF {add_thousands_sep(str(income))} gross income\n"
profile_desc += f"Rooms: {rooms_min}-{rooms_max}, Mortgage Rate: {round(mortgage_rate*100)}%\n"
profile_desc += f"Birth Years: {', '.join(list(map(lambda x: str(x[0]), people_ages_franchises)))} "
profile_desc += f"Deductibles: {', '.join(list(map(lambda x: str(x[1]), people_ages_franchises)))} "
print(profile_desc)

In [ ]:
sql = """
select source_town.zip_code, source_town.name, source_sbb_station.name, target_town.name, target_sbb_station.name, train_commute.time, train_commute.changes from commute 
join train_commute on train_commute.commute_id = commute.id
join town as source_town on source_town.id = commute.source_town_id
join town as target_town on target_town.id = commute.target_town_id
join sbb_station as source_sbb_station on source_sbb_station.id = source_town.<STATION_FIELD_NAME>_id
join sbb_station as target_sbb_station on target_sbb_station.id = target_town.<STATION_FIELD_NAME>_id
where train_commute.commute_type = '<STATION_TYPE>' and target_town.zip_code = <TARGET_ZIP> and train_commute.time <= <TIME>*3600
"""
sql = sql.replace("<TARGET_ZIP>", str(target_zip_code))
sql = sql.replace("<STATION_FIELD_NAME>", station_field_name)
sql = sql.replace("<STATION_TYPE>", station_type)
sql = sql.replace("<TIME>", str(max_commute_h))

df_towns = pd.read_sql(sql, db_conn)
print(f"Found {len(df_towns)} towns in reach")
print(f"Found {len(df_towns['zip_code'].unique())} unique zip codes")
df_towns.head(100)

In [ ]:
df_towns[df_towns.zip_code == 8180]

In [ ]:
if married:
    if double_salary:
        base_profile = "married_2_children_2_salaries"
        included_children = 2
    else:
        if children > 0:
            base_profile = "married_2_children"
            included_children = 2
        else:
            base_profile = "married_0_children"
            included_children = 0
else:
    base_profile = "single"
    included_children = 0

if included_children != children:
    children_diff = children - included_children
else:
    children_diff = 0

sql = """
select town.zip_code, town.name, <INCOME>*((tax_rate.rate+<CHILDREN_DIFF>*tax_rate_effect.child_effect)/100) as taxes_chf from tax_rate
join town on town.bfs_nr = tax_rate.bfs_nr
join tax_rate_effect on tax_rate_effect.bfs_nr = tax_rate.bfs_nr
where
    profile = '<BASE_PROFILE>' 
    and tax_rate.max_income > <INCOME>
    and tax_rate.min_income <= <INCOME>
    and tax_rate_effect.max_income > <INCOME>
    and tax_rate_effect.min_income <= <INCOME>
    and town.zip_code in (<ZIP_CODES>)
order by tax_rate.rate asc
"""

sql = sql.replace('<ZIP_CODES>', ','.join(df_towns['zip_code'].map(lambda x: str(x))))
sql = sql.replace("<INCOME>", str(income))
sql = sql.replace("<CHILDREN_DIFF>", str(children_diff))
sql = sql.replace("<BASE_PROFILE>", base_profile)

df_tax = pd.read_sql(sql, db_conn)
df_tax.loc[df_tax.taxes_chf < 0] = 0
df_tax.head(100)

In [ ]:
sql = """
select zip_code, rate, franchise, min_birth_year, max_birth_year from health_insurance_rate
	where zip_code in (<ZIP_CODES>)
"""
sql = sql.replace('<ZIP_CODES>', ','.join(df_towns['zip_code'].map(lambda x: str(x))))


df_health = pd.read_sql(sql, db_conn)
df_health_agg = pd.DataFrame(df_towns['zip_code'].unique(), columns=['zip_code']).set_index('zip_code')
for birth_year, franchise in people_ages_franchises:
    avg_rates = df_health[(df_health.min_birth_year >= birth_year) & (df_health.max_birth_year <= birth_year) & (df_health.franchise == franchise)].groupby(by='zip_code').agg({"rate": "mean"})['rate']
    if 'health_insurance_chf' in df_health_agg:
        df_health_agg['health_insurance_chf'] = df_health_agg['health_insurance_chf'] + 12*avg_rates
    else:
        df_health_agg['health_insurance_chf'] = 12*avg_rates
df_health_agg = df_health_agg.reset_index()
df_health_agg.head(100)

In [ ]:
sql = """
select zip_code, is_rent, price from accomodation
where zip_code in (<ZIP_CODES>) 
and rooms <= <MAX_ROOMS> and rooms >= <MIN_ROOMS> and price > 0 and property_type_id not in (5, 8, 9, 10, 23, 24, 25, 26, 27, 28)
"""
sql = sql.replace('<ZIP_CODES>', ','.join(df_towns['zip_code'].map(lambda x: str(x))))
sql = sql.replace('<MAX_ROOMS>', str(rooms_max))
sql = sql.replace('<MIN_ROOMS>', str(rooms_min))


df_acc = pd.read_sql(sql, db_conn)
df_acc.loc[df_acc.is_rent, 'yearly_cost_home'] = df_acc[df_acc.is_rent]['price']*12
df_acc.loc[~df_acc.is_rent, 'yearly_cost_home'] = df_acc[~df_acc.is_rent]['price']*(0.01 + loan_percentage*mortgage_rate)
df_acc = df_acc.drop(['price', 'is_rent'], axis=1)
df_acc = df_acc.groupby(by='zip_code').agg({"yearly_cost_home": [np.median, 'count']}).reset_index()
df_acc.head(100)

In [ ]:
df = df_tax.merge(df_health_agg).merge(df_acc, left_on='zip_code', right_on='zip_code')
df['median_yearly_cost_home'] = df[('yearly_cost_home', 'median')]
df['home_count'] = df[('yearly_cost_home', 'count')]
df = df.drop([('yearly_cost_home', 'count'), ('yearly_cost_home', 'median')], axis=1)


df['total'] = df['taxes_chf'] + df['health_insurance_chf'] + df['median_yearly_cost_home']
df['percent_of_income'] = (df['total']/income)*100
df['taxes_percent'] = (df['taxes_chf']/income)*100
df['health_insurance_percent'] = (df['health_insurance_chf']/income)*100
df['median_yearly_cost_home_percent'] = (df['median_yearly_cost_home']/income)*100
df['Gemeinde'] = df['zip_code'].astype(str) + ' ' + df['name']
df = df.sort_values(by='total')
df = df.set_index('Gemeinde')

print(f"Found {len(df)} results")
print(f"Found {len(df['zip_code'].unique())} unique zip codes")

df.head(100)

In [ ]:
plt.rcParams['figure.figsize'] = [min(2*len(df), 350), 20]
plt.rcParams['font.size'] = 26
plt.rcParams["legend.loc"] = 'upper right'
ax = df[["median_yearly_cost_home", "taxes_chf", "health_insurance_chf"]].plot(kind="bar", stacked=True, color=['lightgreen', 'lightsteelblue', 'gold'])
max_total = max(df['total'])
ax.set_ylabel('Yearly cost of living')
plt.xticks(rotation=60, ha='right')
ax.set_ylim(0, max_total + 25000)
for i, (total, total_percent) in enumerate(zip(df['total'], df['percent_of_income'])):
    total_string = add_thousands_sep(str(round(total/12, 2))) + ' per Month' # + ' / ' + add_thousands_sep(str(round(total, 2))) + ' per Year' # add_thousands_sep(str(round(total, 2))) + ' per Year / ' + str(round(total_percent, 2)) + '%' + ' of income / ' + 
    plt.text(i, 1000, total_string, rotation=90, ha='center')
    plt.text(i, total + 800, f"{round(total_percent, 2)}%", ha='center')
plt.text(ax.get_ylim()[0], ax.get_ylim()[1]-15000, profile_desc, fontsize=26)
plt.tight_layout()
fig = ax.get_figure()
fig.savefig('example.png', dpi=180)