In [1]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
db_conn = pg.connect(
    dbname="wheretolive",
    user="wheretolive",
    password="wheretolive",
    host="127.0.0.1")

In [3]:
sql_query = """
select s.bfs_nr, s.min_income, s.rate as s_rate, m0c.rate as m0c_rate, m2c.rate as m2c_rate, m2c2s.rate as m2c2s_rate from
(select * from tax_rate
where profile = 'single') as s
join
(select * from tax_rate
where profile = 'married_no_children') as m0c
on m0c.bfs_nr = s.bfs_nr and m0c.min_income = s.min_income and m0c.max_income = s.max_income
join
(select * from tax_rate
where profile = 'married_2_children') as m2c
on m2c.bfs_nr = s.bfs_nr and m2c.min_income = s.min_income and m2c.max_income = s.max_income
join
(select * from tax_rate
where profile = 'married_2_children_2_salaries') as m2c2s
on m2c2s.bfs_nr = s.bfs_nr and m2c2s.min_income = s.min_income and m2c2s.max_income = s.max_income
order by s.bfs_nr, s.min_income
"""

In [5]:
df = pd.read_sql(sql_query, db_conn)
df.describe()

,bfs_nr,min_income,s_rate,m0c_rate,m2c_rate,m2c2s_rate
count,53328.000000,53328.000000,53328.000000,53328.000000,53328.000000,53328.000000
mean,3301.048155,157916.666667,11.679109,8.609754,6.597930,6.230546
std,2130.290483,215612.427687,7.731390,7.421921,7.317855,7.190539
min,1.000000,12500.000000,0.000000,0.000000,0.000000,0.000000
25%,1083.000000,33750.000000,4.919688,1.136320,0.100000,0.068000
50%,3338.500000,75000.000000,12.103330,7.556205,3.552211,2.837271
75%,5411.000000,181250.000000,17.990356,14.456284,12.196979,11.721828
max,6810.000000,1000000.000000,29.751435,28.795846,28.174927,27.668200

In [12]:
df['2c_effect'] = df['m2c_rate'] - df['m0c_rate']
df['m_effect'] = df['m0c_rate'] - df['s_rate']
df['2s_effect'] = df['m2c2s_rate'] - df['m2c_rate']
df['2c_effect_by_income'] = df['2c_effect'] / df['min_income']
df.head(n=48)

,bfs_nr,min_income,s_rate,m0c_rate,m2c_rate,m2c2s_rate,2c_effect,m_effect,2s_effect,2c_effect_by_income
0,1,12500,0.593280,0.384000,0.384000,0.384000,0.000000,-0.209280,0.000000,0.000000e+00
1,1,15000,1.107467,0.320000,0.320000,0.320000,0.000000,-0.787467,0.000000,0.000000e+00
2,1,17500,1.618057,0.274286,0.274286,0.274286,0.000000,-1.343771,0.000000,0.000000e+00
3,1,20000,2.105500,0.407200,0.240000,0.240000,-0.167200,-1.698300,0.000000,-8.360000e-06
4,1,25000,2.829720,1.061440,0.192000,0.192000,-0.869440,-1.768280,0.000000,-3.477760e-05
5,1,30000,3.612100,1.741433,0.160000,0.160000,-1.581433,-1.870667,0.000000,-5.271444e-05
6,1,35000,4.302314,2.083829,0.137143,0.137143,-1.946686,-2.218486,0.000000,-5.561959e-05
7,1,40000,4.757275,2.695925,0.130450,0.120000,-2.565475,-2.061350,-0.010450,-6.413687e-05
8,1,45000,5.357289,3.083756,0.533956,0.106667,-2.549800,-2.273533,-0.427289,-5.666222e-05
9,1,50000,5.925080,3.498520,0.969620,0.187960,-2.528900,-2.426560,-0.781660,-5.057800e-05
10,1,60000,6.968350,4.361017,1.713683,0.912517,-2.647333,-2.607333,-0.801167,-4.412222e-05
11,1,70000,7.874771,5.186086,2.409371,1.492757,-2.776714,-2.688686,-0.916614,-3.966735e-05
12,1,80000,8.708725,5.961637,3.166263,2.225763,-2.795375,-2.747088,-0.940500,-3.494219e-05
13,1,90000,9.401478,6.713467,3.754956,2.942178,-2.958511,-2.688011,-0.812778,-3.287235e-05
14,1,100000,10.078990,7.300300,4.307420,3.392000,-2.992880,-2.778690,-0.915420,-2.992880e-05
15,1,125000,11.298512,8.528816,5.945576,5.138000,-2.583240,-2.769696,-0.807576,-2.066592e-05
16,1,150000,12.404127,9.517813,7.207667,6.460840,-2.310147,-2.886313,-0.746827,-1.540098e-05
17,1,175000,13.441069,10.565806,8.351600,7.611143,-2.214206,-2.875263,-0.740457,-1.265260e-05
18,1,200000,14.324320,11.342395,9.404965,8.661970,-1.937430,-2.981925,-0.742995,-9.687150e-06
19,1,250000,15.797460,12.804984,11.082824,10.380584,-1.722160,-2.992476,-0.702240,-6.888640e-06
20,1,300000,16.941180,14.016910,12.438263,11.756227,-1.578647,-2.924270,-0.682037,-5.262156e-06
21,1,400000,18.778380,15.978032,14.686412,14.065682,-1.291620,-2.800347,-0.620730,-3.229050e-06
22,1,500000,19.875266,17.606982,16.487578,15.906140,-1.119404,-2.268284,-0.581438,-2.238808e-06
23,1,1000000,22.079906,20.945764,20.386062,20.092626,-0.559702,-1.134142,-0.293436,-5.597020e-07
24,2,12500,0.647040,0.384000,0.384000,0.384000,0.000000,-0.263040,0.000000,0.000000e+00
25,2,15000,1.234400,0.320000,0.320000,0.320000,0.000000,-0.914400,0.000000,0.000000e+00
26,2,17500,1.816457,0.274286,0.274286,0.274286,0.000000,-1.542171,0.000000,0.000000e+00
27,2,20000,2.371500,0.429600,0.240000,0.240000,-0.189600,-1.941900,0.000000,-9.480000e-06
28,2,25000,3.195960,1.177920,0.192000,0.192000,-0.985920,-2.018040,0.000000,-3.943680e-05
29,2,30000,4.085300,1.953300,0.160000,0.160000,-1.793300,-2.132000,0.000000,-5.977667e-05
30,2,35000,4.869514,2.344629,0.137143,0.137143,-2.207486,-2.524886,0.000000,-6.307102e-05
31,2,40000,5.386575,3.041025,0.131850,0.120000,-2.909175,-2.345550,-0.011850,-7.272938e-05
32,2,45000,6.067867,3.482600,0.591200,0.106667,-2.891400,-2.585267,-0.484533,-6.425333e-05
33,2,50000,6.712440,3.954360,1.086660,0.200280,-2.867700,-2.758080,-0.886380,-5.735400e-05
34,2,60000,7.896550,4.934550,1.932550,1.024050,-3.002000,-2.962000,-0.908500,-5.003333e-05
35,2,70000,8.925171,5.871686,2.722971,1.683557,-3.148714,-3.053486,-1.039414,-4.498163e-05
36,2,80000,9.871425,6.752287,3.582413,2.515913,-3.169875,-3.119138,-1.066500,-3.962344e-05
37,2,90000,10.657433,7.605733,4.250867,3.329200,-3.354867,-3.051700,-0.921667,-3.727630e-05
38,2,100000,11.426070,8.271900,4.878060,3.840000,-3.393840,-3.154170,-1.038060,-3.393840e-05
39,2,125000,12.809616,9.666288,6.736968,5.821200,-2.929320,-3.143328,-0.915768,-2.343456e-05
40,2,150000,14.063780,10.788640,8.169000,7.322120,-2.619640,-3.275140,-0.846880,-1.746427e-05
41,2,175000,15.239949,11.977646,9.466800,8.627143,-2.510846,-3.262303,-0.839657,-1.434769e-05
42,2,200000,16.241760,12.858735,10.661745,9.819210,-2.196990,-3.383025,-0.842535,-1.098495e-05
43,2,250000,17.912580,14.517912,12.565032,11.768712,-1.952880,-3.394668,-0.796320,-7.811520e-06
44,2,300000,19.209740,15.892630,14.102490,13.329080,-1.790140,-3.317110,-0.773410,-5.967133e-06
45,2,400000,21.293340,18.117022,16.652362,15.948472,-1.464660,-3.176318,-0.703890,-3.661650e-06
46,2,500000,22.537338,19.964526,18.695154,18.035820,-1.269372,-2.572812,-0.659334,-2.538744e-06
47,2,1000000,25.037658,23.751252,23.116566,22.783818,-0.634686,-1.286406,-0.332748,-6.346860e-07