In [2]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

In [3]:
db_conn = pg.connect(
    dbname="wheretolive",
    user="wheretolive",
    password="wheretolive",
    host="127.0.0.1")

In [4]:
sql_query = """
select bfs_nr_state.state, s.bfs_nr, s.min_income, s.rate as s_rate, m0c.rate as m0c_rate, m2c.rate as m2c_rate, m2c2s.rate as m2c2s_rate from
(select * from tax_rate
where profile = 'single') as s
join
(select * from tax_rate
where profile = 'married_no_children') as m0c
on m0c.bfs_nr = s.bfs_nr and m0c.min_income = s.min_income and m0c.max_income = s.max_income
join
(select * from tax_rate
where profile = 'married_2_children') as m2c
on m2c.bfs_nr = s.bfs_nr and m2c.min_income = s.min_income and m2c.max_income = s.max_income
join
(select * from tax_rate
where profile = 'married_2_children_2_salaries') as m2c2s
on m2c2s.bfs_nr = s.bfs_nr and m2c2s.min_income = s.min_income and m2c2s.max_income = s.max_income
join 
(select distinct bfs_nr, state from town) as bfs_nr_state
on bfs_nr_state.bfs_nr = s.bfs_nr
order by s.bfs_nr, s.min_income
"""

In [5]:
df = pd.read_sql(sql_query, db_conn)
df.head()

  state  bfs_nr  min_income    s_rate  m0c_rate  m2c_rate  m2c2s_rate
0    ZH       1       12500  0.593280  0.384000  0.384000    0.384000
1    ZH       1       15000  1.107467  0.320000  0.320000    0.320000
2    ZH       1       17500  1.618057  0.274286  0.274286    0.274286
3    ZH       1       20000  2.105500  0.407200  0.240000    0.240000
4    ZH       1       25000  2.829720  1.061440  0.192000    0.192000

In [6]:
df['2c_effect'] = df['m2c_rate'] - df['m0c_rate']
df['m_effect'] = df['m0c_rate'] - df['s_rate']
df['2s_effect'] = df['m2c2s_rate'] - df['m2c_rate']
df.head(n=24)

,state,bfs_nr,min_income,s_rate,m0c_rate,m2c_rate,m2c2s_rate,2c_effect,m_effect,2s_effect
0,ZH,1,12500,0.593280,0.384000,0.384000,0.384000,0.000000,-0.209280,0.000000
1,ZH,1,15000,1.107467,0.320000,0.320000,0.320000,0.000000,-0.787467,0.000000
2,ZH,1,17500,1.618057,0.274286,0.274286,0.274286,0.000000,-1.343771,0.000000
3,ZH,1,20000,2.105500,0.407200,0.240000,0.240000,-0.167200,-1.698300,0.000000
4,ZH,1,25000,2.829720,1.061440,0.192000,0.192000,-0.869440,-1.768280,0.000000
5,ZH,1,30000,3.612100,1.741433,0.160000,0.160000,-1.581433,-1.870667,0.000000
6,ZH,1,35000,4.302314,2.083829,0.137143,0.137143,-1.946686,-2.218486,0.000000
7,ZH,1,40000,4.757275,2.695925,0.130450,0.120000,-2.565475,-2.061350,-0.010450
8,ZH,1,45000,5.357289,3.083756,0.533956,0.106667,-2.549800,-2.273533,-0.427289
9,ZH,1,50000,5.925080,3.498520,0.969620,0.187960,-2.528900,-2.426560,-0.781660
10,ZH,1,60000,6.968350,4.361017,1.713683,0.912517,-2.647333,-2.607333,-0.801167
11,ZH,1,70000,7.874771,5.186086,2.409371,1.492757,-2.776714,-2.688686,-0.916614
12,ZH,1,80000,8.708725,5.961637,3.166263,2.225763,-2.795375,-2.747088,-0.940500
13,ZH,1,90000,9.401478,6.713467,3.754956,2.942178,-2.958511,-2.688011,-0.812778
14,ZH,1,100000,10.078990,7.300300,4.307420,3.392000,-2.992880,-2.778690,-0.915420
15,ZH,1,125000,11.298512,8.528816,5.945576,5.138000,-2.583240,-2.769696,-0.807576
16,ZH,1,150000,12.404127,9.517813,7.207667,6.460840,-2.310147,-2.886313,-0.746827
17,ZH,1,175000,13.441069,10.565806,8.351600,7.611143,-2.214206,-2.875263,-0.740457
18,ZH,1,200000,14.324320,11.342395,9.404965,8.661970,-1.937430,-2.981925,-0.742995
19,ZH,1,250000,15.797460,12.804984,11.082824,10.380584,-1.722160,-2.992476,-0.702240
20,ZH,1,300000,16.941180,14.016910,12.438263,11.756227,-1.578647,-2.924270,-0.682037
21,ZH,1,400000,18.778380,15.978032,14.686412,14.065682,-1.291620,-2.800347,-0.620730
22,ZH,1,500000,19.875266,17.606982,16.487578,15.906140,-1.119404,-2.268284,-0.581438
23,ZH,1,1000000,22.079906,20.945764,20.386062,20.092626,-0.559702,-1.134142,-0.293436

In [86]:
df_effects = df.groupby(by=['min_income', 'state']).agg(
    {
        "2c_effect": [np.mean, np.std, np.var],
        "m_effect": [np.mean, np.std, np.var],
        "2s_effect": [np.mean, np.std, np.var]
    })
df_effects.head(n=24)

                 2c_effect                      m_effect                \
                      mean       std       var      mean           std
min_income state
12500      AG     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           AI    -0.540715  0.038672  0.001496 -1.104285  7.897818e-02
           AR     0.000000  0.000000  0.000000 -0.456682  2.622192e-02
           BE     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           BL     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           BS     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           FR     0.000000  0.000000  0.000000 -0.372397  4.958549e-02
           GE     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           GL     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           GR     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           JU     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           LU     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           NE     0.000000  0.000000  0.000000 -0.914379  2.085199e-02
           NW     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           OW     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           SG     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           SH     0.000000  0.000000  0.000000 -0.088338  6.243530e-03
           SO     0.000000  0.000000  0.000000  0.160000  5.368204e-17
           SZ    -0.184752  0.024639  0.000607 -1.123908  1.498860e-01
           TG     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           TI     0.000000  0.000000  0.000000  0.160000  0.000000e+00
           UR     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           VD     0.000000  0.000000  0.000000  0.000000  0.000000e+00
           VS     0.000000  0.000000  0.000000  0.000000  0.000000e+00

                               2s_effect
                           var      mean  std  var
min_income state
12500      AG     0.000000e+00       0.0  0.0  0.0
           AI     6.237553e-03       0.0  0.0  0.0
           AR     6.875892e-04       0.0  0.0  0.0
           BE     0.000000e+00       0.0  0.0  0.0
           BL     0.000000e+00       0.0  0.0  0.0
           BS     0.000000e+00       0.0  0.0  0.0
           FR     2.458720e-03       0.0  0.0  0.0
           GE     0.000000e+00       0.0  0.0  0.0
           GL     0.000000e+00       0.0  0.0  0.0
           GR     0.000000e+00       0.0  0.0  0.0
           JU     0.000000e+00       0.0  0.0  0.0
           LU     0.000000e+00       0.0  0.0  0.0
           NE     4.348053e-04       0.0  0.0  0.0
           NW     0.000000e+00       0.0  0.0  0.0
           OW     0.000000e+00       0.0  0.0  0.0
           SG     0.000000e+00       0.0  0.0  0.0
           SH     3.898166e-05       0.0  0.0  0.0
           SO     2.881762e-33       0.0  0.0  0.0
           SZ     2.246580e-02       0.0  0.0  0.0
           TG     0.000000e+00       0.0  0.0  0.0
           TI     0.000000e+00       0.0  0.0  0.0
           UR     0.000000e+00       0.0  0.0  0.0
           VD     0.000000e+00       0.0  0.0  0.0
           VS     0.000000e+00       0.0  0.0  0.0

In [87]:
effects = set(df_effects.columns.get_level_values(0))
states = set(df_effects.index.get_level_values(1))
incomes = set(df_effects.index.get_level_values(0))
for effect in effects:
    for state in states:
        for min_income in incomes:
            df.loc[(df.min_income == min_income) & (df.state == state) , effect + '_est'] = df_effects[effect]['mean'][min_income][state]
df.head(n=24)

,state,bfs_nr,min_income,s_rate,m0c_rate,m2c_rate,m2c2s_rate,2c_effect,m_effect,2s_effect,m_effect_est,2c_effect_est,2s_effect_est
0,ZH,1,12500,0.593280,0.384000,0.384000,0.384000,0.000000,-0.209280,0.000000,-0.229671,0.000000,0.000000
1,ZH,1,15000,1.107467,0.320000,0.320000,0.320000,0.000000,-0.787467,0.000000,-0.834562,0.000000,0.000000
2,ZH,1,17500,1.618057,0.274286,0.274286,0.274286,0.000000,-1.343771,0.000000,-1.416979,0.000000,0.000000
3,ZH,1,20000,2.105500,0.407200,0.240000,0.240000,-0.167200,-1.698300,0.000000,-1.787154,-0.176269,0.000000
4,ZH,1,25000,2.829720,1.061440,0.192000,0.192000,-0.869440,-1.768280,0.000000,-1.859478,-0.912934,0.000000
5,ZH,1,30000,3.612100,1.741433,0.160000,0.160000,-1.581433,-1.870667,0.000000,-1.965639,-1.660088,0.000000
6,ZH,1,35000,4.302314,2.083829,0.137143,0.137143,-1.946686,-2.218486,0.000000,-2.330255,-2.043010,0.000000
7,ZH,1,40000,4.757275,2.695925,0.130450,0.120000,-2.565475,-2.061350,-0.010450,-2.165944,-2.690302,-0.011679
8,ZH,1,45000,5.357289,3.083756,0.533956,0.106667,-2.549800,-2.273533,-0.427289,-2.387153,-2.675003,-0.448906
9,ZH,1,50000,5.925080,3.498520,0.969620,0.187960,-2.528900,-2.426560,-0.781660,-2.547639,-2.652647,-0.820328
10,ZH,1,60000,6.968350,4.361017,1.713683,0.912517,-2.647333,-2.607333,-0.801167,-2.737206,-2.776586,-0.840649
11,ZH,1,70000,7.874771,5.186086,2.409371,1.492757,-2.776714,-2.688686,-0.916614,-2.822391,-2.912548,-0.961480
12,ZH,1,80000,8.708725,5.961637,3.166263,2.225763,-2.795375,-2.747088,-0.940500,-2.883450,-2.932189,-0.986592
13,ZH,1,90000,9.401478,6.713467,3.754956,2.942178,-2.958511,-2.688011,-0.812778,-2.821310,-3.103592,-0.852465
14,ZH,1,100000,10.078990,7.300300,4.307420,3.392000,-2.992880,-2.778690,-0.915420,-2.916310,-3.139839,-0.960370
15,ZH,1,125000,11.298512,8.528816,5.945576,5.138000,-2.583240,-2.769696,-0.807576,-2.906639,-2.710085,-0.847230
16,ZH,1,150000,12.404127,9.517813,7.207667,6.460840,-2.310147,-2.886313,-0.746827,-3.028825,-2.423582,-0.783498
17,ZH,1,175000,13.441069,10.565806,8.351600,7.611143,-2.214206,-2.875263,-0.740457,-3.017120,-2.322930,-0.776816
18,ZH,1,200000,14.324320,11.342395,9.404965,8.661970,-1.937430,-2.981925,-0.742995,-3.128935,-2.032563,-0.779478
19,ZH,1,250000,15.797460,12.804984,11.082824,10.380584,-1.722160,-2.992476,-0.702240,-3.139887,-1.806723,-0.736722
20,ZH,1,300000,16.941180,14.016910,12.438263,11.756227,-1.578647,-2.924270,-0.682037,-3.068253,-1.656163,-0.715527
21,ZH,1,400000,18.778380,15.978032,14.686412,14.065682,-1.291620,-2.800347,-0.620730,-2.938147,-1.355042,-0.651210
22,ZH,1,500000,19.875266,17.606982,16.487578,15.906140,-1.119404,-2.268284,-0.581438,-2.379899,-1.174370,-0.609988
23,ZH,1,1000000,22.079906,20.945764,20.386062,20.092626,-0.559702,-1.134142,-0.293436,-1.189949,-0.587185,-0.307845

In [88]:
effects = set(df_effects.columns.get_level_values(0))
for effect in effects:
    mae = mean_absolute_error(df[effect], df[effect + '_est'])
    mse = mean_squared_error(df[effect], df[effect + '_est'])
    r2 = r2_score(df[effect], df[effect + '_est'])
    print('{}:\tMAE: {:.2f}\tMSE: {:.2f}\tR2: {:.2f}'.format(effect, mae, mse, r2))

m_effect:	MAE: 0.13	MSE: 0.04	R2: 0.99
2c_effect:	MAE: 0.09	MSE: 0.03	R2: 0.99
2s_effect:	MAE: 0.02	MSE: 0.00	R2: 0.99

In [89]:
#Sanity Check m2c_effect
df['m2c_effect'] = df['m2c_rate'] - df['s_rate']
df['m2c_effect_est'] = df['2c_effect_est'] + df['m_effect_est']
mae = mean_absolute_error(df['m2c_effect'], df['m2c_effect_est'])
mse = mean_squared_error(df['m2c_effect'], df['m2c_effect_est'])
r2 = r2_score(df['m2c_effect'], df['m2c_effect_est'])
print('m2c_effect:\tMAE: {:.2f}\tMSE: {:.2f}\tR2: {:.2f}'.format(mae, mse, r2))

m2c_effect:	MAE: 0.22	MSE: 0.12	R2: 0.99

In [90]:
#Sanity Check m2c2s_effect
df['m2c2s_effect'] = df['m2c2s_rate'] - df['s_rate']
df['m2c2s_effect_est'] = df['2c_effect_est'] + df['m_effect_est'] + df['2s_effect_est']
mae = mean_absolute_error(df['m2c2s_effect'], df['m2c2s_effect_est'])
mse = mean_squared_error(df['m2c2s_effect'], df['m2c2s_effect_est'])
r2 = r2_score(df['m2c2s_effect'], df['m2c2s_effect_est'])
print('m2c2s_effect:\tMAE: {:.2f}\tMSE: {:.2f}\tR2: {:.2f}'.format(mae, mse, r2))

m2c2s_effect:	MAE: 0.24	MSE: 0.13	R2: 0.99